*{
    margin: 0;
    padding: 0;
    transition: ease .3s;  
    text-decoration: none; 
    box-sizing: border-box;
}

body {
   background: rgb(134, 134, 134);
}

header {
    background-color: rgb(0, 0, 0);
    position: sticky;
    top: 0;
}

.container {
    max-width: 1200px; /* Lebar maksimum container */
    margin: 0 auto; /* Tengahkan container di tengah halaman */
    overflow: hidden; /* Mengatasi masalah float */
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.nav-item{
    display: flex;
    flex-direction: row;
}

.nav-link {
    padding: 10px;
    margin: 10px;
    color: aliceblue;
}

.nav-link:hover{
    border-radius: 15px;
    background-color: #865DFF;
    color: white;
}

.active{
    border-radius: 15px;
    background-color: #865DFF;
    color: white;
}



.user { 
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
    text-align: center;
}

.username{
    color: aliceblue;
    padding: 10px;
}

.username:hover{
    border-radius: 15px;
    background-color: #865DFF;
    color: white;
}

.user a img{
    border: solid 1px ;
    border-radius: 50%;
    padding: 5px;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    color: #fff;
    border-image: 
    linear-gradient(
      to bottom, 
      rgb(98, 0, 255), 
      rgb(0, 0, 0)
    ) 1 100%;
}

.kasir{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    margin-top: 10px;
    
}

.product{
    background-color: rgb(255, 255, 255);
    width: 70%;
    height: 100vh;
    overflow: auto;
   
}

.checkout{
    background-color: rgb(255, 255, 255);
    width: 28%;
    height: 100vh;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.checkout h1{
    text-align: center;
    margin-top: 10px;
    background-color: black;
    color: #fff;
    padding: 15px;
    width: 300px;
    border-radius: 15px;
    letter-spacing: 3px;
}

.heading-checkout{
    display: flex;
    background-color: rgb(79, 66, 66);
    width: 100%;
    justify-content: space-between;
}


.heading-checkout p{
    margin: 3px 10px 3px 10px;
    color: rgba(255, 255, 255, 0.719);
}

.product-header{
    background-color: black;
    width: 100%;
    height: 10%;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.filter{
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 10px;
    border-radius: 15px;
}

.search-kasir input{
    width: 30rem;
    height: 35px;
    outline: #fff;
    letter-spacing: 1px;
    border-radius: 10px;
    padding: 3px;
    border: none;
}

.search-kasir button{
    height: 35px;
    width: 40px;
    border-radius: 10px;
    cursor: pointer;
    background-color:  rgb(98, 0, 255);
    color: #fff;
    border: none;
    font-size: 20px;
}


.product-item{
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
    cursor: pointer;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    width: 200px; /* Ubah lebar card */
    height: 230px; /* Ubah tinggi card */
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05); /* Perbesar card saat hover */
}

.card img {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.card h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.card p {
    font-size: 1em;
    color: rgb(98, 0, 255);
    border-radius: 15px;
}

.qty-input{
    width: 30px;
}

.item-checout{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.div-qty{
    display: flex;
}

.fa-trash{
    color: rgb(160, 0, 0);
    padding: 5px;
}

.fa-trash:hover{
    border: solid 1px rgb(160, 0, 0);
    background-color: red;
    color: white;
    border-radius: 50%;
}

.div-qty button{
    background-color: #fff;
    margin: 0px 5px 0px 5px;
    color: rgb(98, 0, 255);
    padding: 3px;
    border: solid rgb(98, 0, 255);
    border-radius: 50%;
    cursor: pointer;
    transition: .1s ease;
}

.div-qty button:hover{
    color: white;
    background-color: rgb(98, 0, 255);
}

.div-qty input{
    width: 30px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: #13063a;
    border-radius: 5px;
}

.div-qty input:focus{
    color: white;
    background-color: #865DFF;
    outline: none;
    border: none;
}

.checkout-item{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.total-checkout{
    position: absolute;
    bottom: 0;
    background-color: rgb(98, 0, 255);
    width: 300px;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    border-radius: 15px;
    box-shadow: 1px 3px 5px black;
    cursor: pointer;
    font-size: 30px;
    padding: auto;
    
}

.total-checkout:hover{
    transform: scale(1.08);
}