<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> User Profil </title>
    <link rel="stylesheet" href="profil.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <div class="container">
        <div class="container-content">
            <div class="user-data">
                <h1>User Profile</h1>
                <div class="hamburger-menu fa-solid fa-bars"></div>
                <div class="userDataFlex">
                        <div class="userData">
                            <div class="user-info">
                                <div class="info-label">Username</div>
                                <div class="info-value">jhon_cena</div>
                            </div>
                            <div class="user-info">
                                <div class="info-label">Nama Panjang</div>
                                <div class="info-value">Jhon Cena ananda </div>
                            </div>
                            <div class="user-info">
                                <div class="info-label">Email</div>
                                <div class="info-value">jhon@cena.com</div>
                            </div>
                            <div class="user-info">
                                <div class="info-label">Alamat</div>
                                <div class="info-value">US New York</div>
                            </div>
                            <div class="user-info">
                                <div class="info-label">No. Telepon</div>
                                <div class="info-value">+1 123-456-7890</div>
                            </div>
                        </div>
                        <div class="poto-profil">
                            <span>poto profil</span>
                            <img src="terimaksih.jpg" alt="">
                        </div>
                    </div>
                    <div class="editProfilBtn">
                        <a class="editProfil" href="edit-profil.html"> Edit Profil </a>
                    </div>
            </div>
            <div class="profil-nav">
                <div class="profilBox">
                    <a href="profil.html">
                        <img src="terimaksih.jpg" alt="">
                        <span> Jhon Cena </span>
                    </a>
                </div>
                <div class="profil-link">
                    <ul>
                        <li><a class="active" href="#">My Order</a></li>
                        <li><a href="#">My Cart</a></li>
                        <li><a href="edit-profil.html">Edit Profil</a></li>
                    </ul>
                    <a><div class="logout">log out</div></a>
                </div>
            </div>
        </div>
    </div>


    <script>
        let menuOpen = document.querySelector('.hamburger-menu');
        let provilNav = document.querySelector('.profil-nav');

        menuOpen.addEventListener('click', function(){
            menuOpen.classList.toggle('fa-x');
            provilNav.classList.toggle('active');
        });
    </script>

</body>
</html>
