:root {
    --blue: #5d87ff;
    --theme-col: #5d87ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section {
    padding: 2rem 9%;
}

.heading-index-limikeshop {
    text-align: center;
    font-size: 4rem;
    color: #ffff;
    padding: 1rem;
    margin: 2rem 0;
    background: #2a3547;
}

.heading-index-limikeshop span {
    color: #5d87ff;
}

.btn {
    background: #333;
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    background: #5d87ff;
}

/* carousel start */
.carousel-item .custom-carousel-content {
    width: 50%;
    transform: translate(0%, -10%);
}

.custom-carousel-content {
    text-align: start;
    padding: 20px;
    /* border-radius: 5%; */
    background-color: rgba(82, 78, 78, 0.377);
}

.custom-carousel-content h1 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
}

.custom-carousel-content h1 span {
    color: #fbff00;
}

.custom-carousel-content p {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 30px;
}

.custom-carousel-content .btn-slider {
    border: 1px solid #fff;
    border-radius: 0px;
    padding: 8px 26px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

/* navbar css-start */
.main-navbar {
    border-bottom: 1px solid #ccc;
}

.main-navbar .top-navbar {
    background-color: #2a3547;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-navbar .top-navbar .brand-name {
    color: #fff;
}

.main-navbar .top-navbar .nav-link {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.main-navbar .top-navbar .dropdown-menu {
    padding: 0px 0px;
    border-radius: 0px;
}

.main-navbar .top-navbar .dropdown-menu .dropdown-item {
    padding: 8px 16px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
}

.main-navbar .top-navbar .dropdown-menu .dropdown-item i {
    width: 20px;
    text-align: center;
    color: #00164F;
    font-size: 14px;
}

.main-navbar .navbar {
    padding: 0px;
    background-color: #ddd;
}

.main-navbar .navbar .nav-item .nav-link {
    padding: 8px 20px;
    color: #000;
    font-size: 15px;
}

@media only screen and (max-width: 600px) {
    .main-navbar .top-navbar .nav-link {
        font-size: 12px;
        padding: 8px 10px;
    }
}

/* Category Start */
.category-card {
    border: 1px solid #ddd;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    margin-bottom: 24px;
    background-color: #fff;
}

.category-card a {
    text-decoration: none;
}

.category-card .category-card-img {
    max-height: 260px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

.category-card .category-card-body {
    padding: 10px 16px;
}

.category-card .category-card-body h5 {
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    text-align: center;
}

/* Category End */

/* Product Card */
/* .product-card{
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 24px;
}
.product-card a{
    text-decoration: none;
}
.product-card .stock{
    position: absolute;
    color: #fff;
    border-radius: 4px;
    padding: 2px 12px;
    margin: 8px;
    font-size: 12px;
}
.product-card .product-card-img{
    max-height: 260px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}
.product-card .product-card-img img{
    width: 100%;
}
.product-card .product-card-body{
    padding: 10px 10px;
}
.product-card .product-card-body .product-brand{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 4px;
    color: #937979;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.product-card .product-card-body .product-name{
    font-size: 20px;
    font-weight: 600;
    color: #000;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.product-card .product-card-body .selling-price{
    font-size: 22px;
    color: #000;
    font-weight: 600;
    margin-right: 8px;
}
.product-card .product-card-body .original-price{
    font-size: 18px;
    color: #937979;
    font-weight: 400;
    text-decoration: line-through;
}
.product-card .product-card-body .btn1{
    border: 1px solid;
    margin-right: 3px;
    border-radius: 0px;
    font-size: 12px;
    margin-top: 10px;
} */
/* Product Card End */

/* Product View */
/* .product-view .product-name{
    font-size: 24px;
    color: #2874f0;
}
.product-view .product-name .label-stock{
    font-size: 13px;
    padding: 4px 13px;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    float: right;
}
.product-view .product-path{
    font-size: 13px;
    font-weight: 500;
    color: #252525;
    margin-bottom: 16px;
}
.product-view .selling-price{
    font-size: 26px;
    color: #000;
    font-weight: 600;
    margin-right: 8px;
}
.product-view .original-price{
    font-size: 18px;
    color: #937979;
    font-weight: 400;
    text-decoration: line-through;
}
.product-view .btn1{
    border: 1px solid;
    margin-right: 3px;
    border-radius: 0px;
    font-size: 14px;
    margin-top: 10px;
}
.product-view .btn1:hover{
    background-color: #2874f0;
    color: #fff;
}
.product-view .input-quantity{
    border: 1px solid #000;
    margin-right: 3px;
    font-size: 12px;
    margin-top: 10px;
    width: 58px;
    outline: none;
    text-align: center;
} */
/* Product View */

/* Cart or Wishlist */
.wishlist{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;

    ::-webkit-scrollbar {
        width: 12px;
        /* Lebar scroll bar */
        height: 10px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
        /* Warna latar belakang track */
    }

    /* Warna scroll thumb */
    ::-webkit-scrollbar-thumb {
        background: #2a3547;
        /* Warna scroll thumb */
        border-radius: 15px;
    }
}

.wishlist-contents{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    overflow: auto;
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
    z-index: 1;
    padding: 20px 40px;
    border-right: solid 1px rgba(0, 0, 0, 0.072);
}

.shopping-cart .cart-header {
    padding: 10px;
}

.shopping-cart .cart-header h4 {
    font-size: 18px;
    margin-bottom: 0px;
}

.shopping-cart .cart-item a {
    text-decoration: none;
}

.shopping-cart .cart-item {
    background-color: #fff;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    padding: 10px 10px;
    margin-top: 10px;
}

.shopping-cart .cart-item .product-name {
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}

.shopping-cart .cart-item .price {
    font-size: 16px;
    font-weight: 600;
    padding: 4px 2px;
}

.shopping-cart .btn1 {
    border: 1px solid;
    margin-right: 3px;
    border-radius: 0px;
    font-size: 10px;
}

.shopping-cart .btn1:hover {
    background-color: #2874f0;
    color: #fff;
}

.shopping-cart .input-quantity {
    border: 1px solid #000;
    margin-right: 3px;
    font-size: 12px;
    width: 40%;
    outline: none;
    text-align: center;
}

/* Cart or Wishlist */

/* Checkout start */
.checkout .form-control {
    border-radius: 0px !important;
}

.checkout .form-control:focus {
    border: 1px solid #000 !important;
    box-shadow: none !important;
}

.checkout .nav-link {
    border: 1px solid #000;
    border-radius: 0px;
    margin-bottom: 8px;
}

.checkout .tab-content {
    padding-right: 10px;
}

/* Checkout end */

/* keranjang nandito -start */
.cart {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;

    ::-webkit-scrollbar {
        width: 12px;
        /* Lebar scroll bar */
        height: 10px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
        /* Warna latar belakang track */
    }

    /* Warna scroll thumb */
    ::-webkit-scrollbar-thumb {
        background: #2a3547;
        /* Warna scroll thumb */
        border-radius: 15px;
    }
}

.shopping-cart {
    background-color: rgb(255, 255, 255);
    width: 60%;
    height: 100%;
    overflow: auto;
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
    z-index: 1;
    padding: 20px 40px;
    border-right: solid 1px rgba(0, 0, 0, 0.072);
}

.shopping-cart-header {
    display: flex;
    color: #2a3547;
    font-weight: bold;
    letter-spacing: 2px;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px;
    padding-bottom: 10px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.072);
}

.order-item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 30px;

    ::-webkit-scrollbar {
        width: 12px;
        /* Lebar scroll bar */
        height: 10px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
        /* Warna latar belakang track */
    }

    /* Warna scroll thumb */
    ::-webkit-scrollbar-thumb {
        background: #2a3547;
        /* Warna scroll thumb */
        border-radius: 15px;
    }
}

.order-item-heading {
    width: 100%;
    display: flex;
    color: #2a3547;
    font-weight: bold;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.072);
}

.order-item-heading span {
    width: 80px;
}

.order-item-heading .product-name {
    margin-left: 40px;
    margin-right: 50px;
}

.Subtotal {
    color: black;
    font-weight: bold;
}

.qty {
    border-bottom: solid 1px rgba(0, 0, 0, 0.291);
}

span i {
    cursor: pointer;
    border: #2a354727 solid 1px;
    font-size: 30px;
    padding: 5px;
    color: #2a3547;
    transition: .3s ease;
}

span i:hover {
    color: red;
    border-radius: 15px;
}


.order-summary {
    background-color: rgba(250, 250, 250, 0.599);
    width: 40%;
    height: 100%;
    padding: 20px 40px;
}

.order-summary-header {
    display: flex;
    color: #2a3547;
    font-weight: bold;
    letter-spacing: 2px;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px;
    padding-bottom: 10px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.072);
}

.order-summary-subtotals {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.072);
    padding-bottom: 20px;
}

.shipping {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.072);
    padding-bottom: 20px;
}

.option-shipping {
    display: flex;
    flex-direction: column;
}

.option-shipping span {
    margin-top: 10px;
}

.shipping-price {
    color: #2a3547;
    font-weight: bold;
}

.total-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px rgba(0, 0, 0, 0.072);
    margin-top: 30px;
    padding-bottom: 10px;
}

.checkout-cart {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.checkout-cart a {
    width: 60%;
    height: 40px;
    border-radius: 15px;
    border: solid 1px rgba(0, 0, 0, 0.223);
    background-color: #2a3547;
    color: #fff;
    letter-spacing: 2px;
    cursor: pointer;
    transition: .3s ease;
}

table {
    border-collapse: collapse;
    width: 100%;
}


th,
td {
    border-bottom: 1px rgba(0, 0, 0, 0.127) solid;
    padding: 10px;
    text-align: left;
    align-items: center;
    max-width: 250px;
}

td .td-imagess {
    height: 100px;
    width: 150px;
}

td {
    text-align: center;
}

.quantity {
    padding: 0;
}

th {
    background-color: #f2f2f2;
    text-align: center;
}

.cart-product-name {
    font-weight: bold;
}

.product-image {
    max-width: 100px;
    max-width: 100px;
}

.quantity button {
    width: 20px;
    background-color: #2a3547;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 5px;
    border: none;
    height: 20px;
    cursor: pointer;
    margin: 0;
    transition: .3s ease;
}

.quantity button:hover {
    background-color: #5d87ff;
}

.quantity input {
    width: 50px;
    text-align: center;
}

.total-price {
    font-weight: bold;
}

input[type="number"] {
    /* width: 30px; Sesuaikan dengan lebar yang diinginkan */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    text-align: center;
}

input[type="number"]:hover {
    border: #2a3547 solid 1px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.checkout-cart button:hover {
    background-color: #5d87ff;
}

@media screen and (max-width: 485px) {
    body {
        background-color: #fff;
    }

    .cart {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    span i {
        display: flex;
        width: 20px;
        height: 20px;
        font-size: 15px;
        text-align: center;
        justify-content: center;
        align-items: center;
        border: none;
    }

    .quantity {
        font-size: 5px;
        width: 10px;
        padding: 0;
    }

    .quantity button {
        font-size: 5px;
        width: 10px;
        height: 10px;
        border-radius: 2px;
        text-align: center;
    }

    .quantity input {
        width: 20px;
        font-size: 5px;
        margin: 0;
    }

    td img,
    td .td-imagess {
        width: 70px;
        height: 70px;
    }

    .shipping {
        font-size: 10px;
    }

    .shopping-cart {
        width: 100%;
        background-color: #ffff;
        font-size: 10px;
    }

    .order-item-heading {
        display: none;
    }

    .order-item-info {
        margin-top: 0;
    }

    .Subtotal {
        margin-right: 20px;
    }

    .order-summary {
        width: 90%;
        height: 50%;
        margin-top: 20px;
        border-radius: 15px;
        border: #2a35471c solid 1px;
    }

    .checkout-cart button {
        font-size: 10px;
        padding: 20px;
        display: flex;
        align-items: center;
    }
}

@media screen and (min-width:486px) and (max-width: 768px) {
    body {
        background-color: #fff;
    }

    .cart {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    td img,
    td .td-imagess {
        height: 80px;
        width: 80px;
    }

    .shopping-cart {
        width: 100%;
        background-color: #ffff;
    }

    .quantity {
        font-size: 5px;
        width: 150px;
        padding: 0;
    }

    td {
        padding: 0;
    }

    th td {
        padding: 0;
        margin: 0;
    }

    .order-item-heading {
        display: none;
    }

    .Subtotal {
        margin-right: 20px;
    }

    .order-summary {
        width: 80%;
        margin-top: 20px;
        border-radius: 15px;
        border: #2a35471c solid 1px;
    }

}

@media screen and (min-width: 769px) and (max-width:979px) {
    .order-item-heading {
        font-size: 10px;
    }

    .order-item-heading {
        display: none;
    }

    th {
        padding: 0;
    }

    td {
        margin: 0;
        padding: 0;
    }

    .order-summary-subtotals {
        font-size: 10px;
    }

    .shipping {
        font-size: 10px;
    }

    .total-cart {
        font-size: 10px;
    }

    .checkout-cart button {
        font-size: 5px;
    }
}

/* keranjang nandito - end */

/* detail-produk nandito - start */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Montserrat:wght@500;700&family=Poppins:wght@200&family=Titillium+Web:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --botton-color: #5d87ff;
}

body {
    background-color: #ecf2ff;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1980px;
    /* Lebar maksimum container */
    margin: 0 auto;
    /* Tengahkan container di tengah halaman */
    overflow: hidden;
    /* Mengatasi masalah float */
}

.detail-produk {
    height: max-content;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.image-detail-produk {
    background-color: rgb(248, 248, 248);
    box-shadow: 0px 0px 3px rgb(137, 137, 137) ;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image-detail-produk img {
    width: 80%;
    padding: 10px;
    box-shadow: 1px 2px 2px;
    border-radius: 10px;
}

.label-image-detail-produk {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--botton-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 5px;
    box-shadow: 0px 0px 3px black;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.spek-produk {
    background-color: rgb(255, 255, 255);
    width: 50%;
    box-shadow: 0px 0px 3px;
    display: flex;
    flex-direction: column;
    padding: 0px 40px 0px 40px;
    text-align: justify;
}

.spek-produk a {
    color: #fff;
    background-color: #2a3547;
    box-shadow: 0px 0px 2px;
    width: 10rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    padding: 2px 4px 2px 4px;
    margin: 10px 0px 20px 0px;
}

.spek-produk h1 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    color: #2a3547;
    height: max-content;
    width: 100%;
    text-align: start;
}

.price {
    color: #5d87ff;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 25px;
}

.description-product {
    margin: 10px 0px 10px 0px;
}

.description-product span {
    width: max-content;
    border-bottom: solid 1px #2a3547;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    color: #2a3547
}

.brand-produk-detail {
    display: flex;
    align-items: center;
    margin: 10px 0px 10px 0px;
}

.brand-produk-detail span {
    margin-right: 70px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

.brand-produk-detail img {
    width: 60px;
    height: 60px;
    padding: 5px;
    mix-blend-mode: multiply;
    box-shadow: 1px 2px 3px;
    border-radius: 15px;
}

.brand-produk-detail .brand-name {
    font-family: 'Titillium Web', sans-serif;
}

.color-produk-detail {
    display: flex;
    align-items: center;
    margin: 10px 0px 10px 0px;
}

.color-produk-detail span {
    width: max-content;
    margin-right: 70px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    color: #2a3547
}

.color-produk-detail p {
    margin-right: 30px;
    padding: 5px;
    width: max-content;
    height: 30px;
    font-family: 'Titillium Web', sans-serif;
    border-bottom: solid #2a3547;
}

.quantity {
    display: flex;
    height: 100px;
    align-items: center;
    width: 100%;
}

.quantity input {
    margin-left: 10px;
    margin-right: 10px;
}

.quantity span {
    border-radius: 5px;
    width: 30px;
    height: 30px;
    background-color: #2a3547;
    color: #fff;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0px 5px;
    cursor: pointer;
    transition: .3s ease;
}

.quantity span:hover {
    background-color: #5d87ff;
}

.quantity p {
    margin-right: 40px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    color: #2a3547
}


input[type="number"] {
    /* width: 50px; Sesuaikan dengan lebar yang diinginkan */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    text-align: center;
}

input[type="number"]:hover {
    border: #2a3547 solid 1px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

label {
    margin-left: 10px;
    font-size: 14px;
    color: #333;
}

.add-to-cart-div{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.add-to-cart {
    width: 9rem;
    height: 60px;
    padding: 2px 5px 2px 5px;
    color: #ffff;
    background-color: #2a3547;
    margin-top: 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s ease;
    border: none;
    font-size: 13px;
    font-size: 16px;
}


.add-to-cart:hover {
    background-color: #5d87ff;
}

@media (max-width:768px) {

    .image-detail-produk img {
        height: 50%;
        position: absolute;
        top: 100px;
    }

    .nama-produk-detail {
        bottom: 15rem;
    }

    .add-to-cart-div{
        width: 70%;
    }

    .add-to-cart{
        font-size: 8px;
        width: 10rem;
    }

    .quantity{
        width: 100%;
    }

    .quantity input{
        width: 20px;
    }

    .quantity span{
        width: 20px;
        margin: 0;
        height: 20px;
    }
}


/* detail-produk nandito - end */
/* checkout-keranjang nandito - start */
input::placeholder {
    font-style: italic;
}

input:-ms-input-placeholder {
    font-style: italic;
}

input::-ms-input-placeholder {
    font-style: italic;
}

input:focus::placeholder {
    font-style: normal;

}

.checkout {
    height: max-content;
    margin: 20px;
    width: 100%;
}

.checkout h1 {
    border-bottom: solid 1px;
    padding: 15px;
    width: 80%;
}

.informasi-penerima {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    padding-bottom: 40px;
}

.input-informasi {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.informasi-penerima h2 {
    width: 100%;
    padding: 5px 0px;
    letter-spacing: 2px;
    color: #2e4567;
    font-weight: bold;
}

.input-informasi label {
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.input-informasi input {
    width: 90%;
    height: 35px;
    padding: 5px;
    outline: none;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.154);
    margin-top: 5px;
}


.input-informasi input::placeholder {
    font-style: italic;
}

.input-informasi input:focus {
    border: black solid 1px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.checkout-content {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.information-checkout {
    height: max-content;
    width: 55%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.pengirim {
    margin-top: 20px;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

.pengirim h2 {
    width: 100%;
    padding: 5px 0px;
    letter-spacing: 2px;
    color: #2e4567;
    font-weight: bold;
}

.shipping-method {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.radio-pengiriman {
    width: 50%;
    display: flex;
    align-items: start;
    text-align: center;
    flex-direction: column;
    margin-left: 20px;
    text-transform: uppercase;
    color: #2e4567;
    font-weight: light;
    font-size: 20px;
}

.radio-pengiriman span {
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-pengiriman input {
    margin-right: 10px;
    cursor: pointer;
}

.radio-pengiriman input[type="radio"] {
    width: 20px;
    height: 20px;
    outline: none;
    border: none;
    color: #2e4567;
    background-color: #2e4567;
}

.harga-pengiriman {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: max-content;
    width: 20%;
    font-weight: bolder;
}

.harga-pengiriman span {
    margin: 2px;
    font-size: 20px;
    color: #2e4567;
}

.cara-pembayaran {
    margin-top: 20px;
    width: 100%;
}

.cara-pembayaran h2 {
    width: 100%;
    padding: 5px 0px;
    letter-spacing: 2px;
    color: #2e4567;
    font-weight: bold;
}

.pembayaran {
    width: 100%;
    border: solid 1px;
    display: flex;
    justify-content: space-between;
    height: max-content;
    border: none;
}

.radio-pembayaran {
    width: 50%;
    background-color: black;
}

.nama-bayar {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: max-content;
    width: 20%;
    font-weight: bolder;
    background-color: red;
}

.nama-bayar span {
    margin: 2px;
    display: flex;
    align-items: start;
    margin-left: 50px;
    font-size: 20px;
    color: #2e4567;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-radius: none;
}


th,
td {
    padding: 10px;
    text-align: left;
}

td.nama-pembayaran {
    width: 60%;
}

.nama-pembayaran {
    align-items: center;
    justify-content: start;
    width: 100%;
}

td .kartu-pembayaran {
    margin-left: 70px;
    font-size: 20px;
    font-weight: bold;
    color: #2e4567;
    text-align: left;
}

.nama-pembayaran input[type="radio"] {
    margin-left: 12px;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    outline: none;
    border: none;
    color: #2e4567;
    background-color: #2e4567;
}

.nama-pembayaran label {
    font-size: 20px;
    text-transform: uppercase;
}


.your-cart {
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    width: 45%;
    height: 100vh;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    padding: 20px 30px;

    ::-webkit-scrollbar {
        width: 12px;
        /* Lebar scroll bar */
        height: 10px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
        /* Warna latar belakang track */
    }

    /* Warna scroll thumb */
    ::-webkit-scrollbar-thumb {
        background: #2a3547;
        /* Warna scroll thumb */
        border-radius: 15px;
    }
}

.cart-keranjang {
    height: 40%;
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 100px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.288);
}

.your-cart h2 {
    width: 100%;
    padding: 5px 0px;
    letter-spacing: 2px;
    color: #2e4567;
    font-weight: bold;
    border-bottom: rgba(46, 69, 103, 0.205) solid 1px;
}

.keranjang-content {
    width: 100%;
    height: max-content;
    box-shadow: 0px 1px 3px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-top: 20px;
    border-radius: 15px;
}

.keranjang-content img {
    width: 76px;
    height: 76px;
    border: solid 1px rgba(0, 0, 0, 0.164);
    box-shadow: rgba(0, 0, 0, 0.408) 0px 1px 2px;
    padding: 5px;
    border-radius: 10px;
}

.qty-keranjang {
    display: flex;
    align-items: center;
    text-align: center;
}

.qty-keranjang input {
    width: 20px;
    margin: 0px 5px;
    text-align: center;
}

.qty-keranjang button {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: #2e4567;
    color: #ffff;
    cursor: pointer;
    transition: .3s ease;
}

.keranjang-content i {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    padding: 5px;
    border-top-right-radius: 15px;
    background-color: #2e4567;
    box-shadow: 0px 1px 3px;
    color: #FFFF;
    cursor: pointer;
    transition: .3s ease;
}

.keranjang-content i:hover {
    background-color: red;
}

.produk-keranjang {
    color: #2e4567;
    font-weight: bold;
    max-width: 200px;
    text-align: left;
    font-size: 15px;
    height: max-content;
}

.produk-keranjang p {
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.produk-keranjang span {
    font-style: italic;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.455);
}

.qty-keranjang button:hover {
    background-color: #5d87ff;
    border: none;
}

.keranjang-content span {
    font-weight: bold;
    height: max-content;
}

.order-detail {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    background-color: #eee;
    border-radius: 15px;
    height: 130px;
}

.subtotal-detail p {
    margin: 10px;
}

.subtotal-detail span {
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
}

.qty-detail p {
    margin: 10px;
}

.qty-detail span {
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
}

.your-cart-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    width: 100%;
}

.your-cart-btn button {
    margin: 10px;
    height: 40px;
    width: 50%;
    border-radius: 10px;
    border: solid 1px rgba(0, 0, 0, 0.202);
    cursor: pointer;
}

.processCheckout {
    background-color: #2a3547;
    color: #ffff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: .3s ease;
}

.processCheckout:hover {
    background-color: #5d87ff;
}

.kembaliBelanja {
    transition: .3s ease;
}

.kembaliBelanja:hover {
    background-color: rgba(0, 0, 0, 0.832);
    color: #fff;
}

.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    animation: fadeInOut 0.5s ease-in-out;
    /* Animasi fadeIn dan fadeOut */
}

.popup {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vh;
    height: max-content;
    position: relative;
}

.img-popup {
    width: 55%;
}

.massage-thanks {
    width: 45%;
}

.massage-thanks h1 {
    font-family: 'Pacifico', cursive;
    letter-spacing: 2px;
}

.massage-thanks a {
    width: 60%;
    height: 50px;
    margin-top: 30px;
    font-size: 15px;
    letter-spacing: 2px;
    background-color: #2a3547;
    color: #fff;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: .3s ease;
    text-transform: uppercase;
}

.massage-thanks a:hover {
    background-color: #5d87ff;
}

.massage-thanks p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.img-popup img {
    width: 100%;
    height: 100%;
}


@keyframes fadeInOut {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


@media screen and (min-width: 769px) and (max-width:1024px) {
    .your-cart h2 {
        font-size: 15px;
    }

    .your-cart {
        height: 150vh;
    }

    .produk-keranjang p {
        font-size: 10px;
    }

    .produk-keranjang {
        max-width: 120px;
    }

    .produk-keranjang span {
        font-size: 5px;
    }

    .keranjang-content img {
        height: 50px;
        border-radius: 5px;
        margin-right: 5px;
    }

    .keranjang-content span {
        font-size: 5px;
    }

    .keranjang-content i {
        font-size: 5px;
    }


    .subtotal-detail span {
        margin: 10px;
        font-weight: bold;
        font-size: 15px;
    }

    .qty-detail span {
        margin: 10px;
        font-weight: bold;
        font-size: 15px;
    }

    * h2 {
        font-size: 16px;
    }

    .kartu-pembayaran span,
    .kartu-pembayaran p {
        font-size: 15px;
    }

    .nama-pembayaran label {
        font-size: 15px;
    }

    .quantity{
        width: 100%;
    }

    .quantity span{
        width: 20px;
        margin: 0;
        height: 20px;
    }

}

@media screen and (min-width: 415px) and (max-width: 768px) {
    .checkout-content {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .checkout {
        margin: 0;
        padding: 20px;
    }

    .your-cart {
        width: 100%;
        border-radius: 15px;
        margin-top: 50px;
    }

    .information-checkout {
        width: 100%;
    }

    .keranjang-content span {
        font-size: 5px;
    }

    .keranjang-content i {
        font-size: 5px;
    }


    .subtotal-detail span {
        margin: 10px;
        font-weight: bold;
        font-size: 15px;
    }

    .qty-detail span {
        margin: 10px;
        font-weight: bold;
        font-size: 15px;
    }

    * h2 {
        font-size: 16px;
    }

    .kartu-pembayaran span,
    .kartu-pembayaran p {
        font-size: 15px;
    }

    .nama-pembayaran label {
        font-size: 15px;
    }

    .produk-keranjang p {
        font-size: 10px;
    }

    .produk-keranjang {
        max-width: 120px;
    }

    .produk-keranjang span {
        font-size: 5px;
    }

    .keranjang-content img {
        height: 50px;
        border-radius: 5px;
        margin-right: 5px;
    }

    .keranjang-content span {
        font-size: 5px;
    }

    .keranjang-content i {
        font-size: 5px;
    }

    .popup h1 {
        font-size: 20px;
    }

    .quantity span{
        width: 20px;
        margin: 0;
        height: 20px;
    }


    .quantity input{
        width: 20px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .quantity button{
        width: 15px;
        height: 20px;
    }
}

@media screen and (max-width: 414px) {
    .spek-produk{
        padding: 10px;
    }

    .brand-produk-detail span,
    .color-produk-detail span,
    .quantity span{
        margin-right: 20px;
    }

    .add-to-cart-div{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .add-to-cart-div div{
        width: max-content;
        margin: 0;
        padding: 0;
    }

    .quantity span{
        width: 20px;
        margin: 0;
        height: 20px;
    }

    .add-to-cart{
        font-size: 5px;
        width: 100%;
        margin: 5px 20px;

    }
    .quantity{
        width: 100%;
    }

    .quantity input{
        width: 20px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .quantity button{
        width: 15px;
        height: 20px;
    }

    .quantity span{
        width: 20px;
        margin: 0;
        height: 20px;
    }

    .checkout-content {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .checkout {
        margin: 0;
        padding: 20px;
    }

    .your-cart {
        width: 100%;
        border-radius: 15px;
        margin-top: 50px;
    }

    .information-checkout {
        width: 100%;
    }

    .keranjang-content span {
        font-size: 5px;
    }

    .keranjang-content i {
        font-size: 5px;
    }


    .subtotal-detail span {
        margin: 10px;
        font-weight: bold;
        font-size: 15px;
    }

    .qty-detail span {
        margin: 10px;
        font-weight: bold;
        font-size: 15px;
    }

    * h2 {
        font-size: 8px;
    }

    .kartu-pembayaran span,
    .kartu-pembayaran p {
        font-size: 7px;
    }

    .nama-pembayaran label {
        font-size: 7px;
    }

    .produk-keranjang p {
        font-size: 5px;
    }

    .produk-keranjang {
        max-width: 110px;
    }

    .produk-keranjang span {
        font-size: 3px;
    }

    .keranjang-content img {
        display: none;
    }

    .keranjang-content span {
        font-size: 3px;
    }

    .keranjang-content i {
        font-size: 3px;
    }

    .popup h1 {
        font-size: 20px;
    }
}

/* checkout-keranjang nandito - end */
/* checkout-keranjang-messages nandito - end */
.checkout-sukses {
    background: #fff;
    color: var(--button-color);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200vh;
    height: max-content;
    position: relative;
}

.center-checkout-massage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.gambar img {
    width: 100%;
    height: 85vh;
    mix-blend-mode: multiply;
}

.gambar {
    width: 55%;
}

.massage-thanks {
    width: 45%;
}

.massage-thanks h1 {
    font-family: var(--font-thanks);
    font-size: 70px;
    letter-spacing: 3px;
}

.massage-thanks p {
    font-family: var(--font-main);
    font-size: 32px;
}

.massage-thanks button {
    margin-top: 40px;
    width: 50%;
    height: 40px;
    background-color: var(--button-color);
    color: #fff;
    font-family: var(--font-thanks);
    font-size: 20px;
    letter-spacing: 3px;
    border-radius: 20px;
    border: none;
}

/* checkout-keranjang-messages nandito - end */

/* index-home nandito - start */

/* .products-index-limikeshop .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.products-index-limikeshop .box-container .box-content{
    width: 50%;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: 20px;
    border: .1rem solid rgba(0,0,0,.1);
    position: relative;
}

.products-index-limikeshop .box-container .box-content .discount{
    position: absolute;
    top:1rem; left:1rem;
    padding:.7rem 1rem;
    font-size: 1.5rem;
    color: #fff;
    background: #2a35477b;
    z-index: 1;
    border-radius: .5rem;
}

.products-index-limikeshop .box-container .box-content .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}

.products-index-limikeshop .box-container .box-content .image img{
    height: 25rem;
}

.products-index-limikeshop .box-container .box-content:hover .image img{
    transform: scale(1.1);
}

.products-index-limikeshop .box-container .box-content .image .icons{
    position: absolute;
    bottom: -7rem; left: 0; right: 0;
    display: flex;
}

.products-index-limikeshop .box-container .box-content:hover .image .icons{
    bottom: 0;
}

.products-index-limikeshop .box-container .box-content .image .icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width: 50%;
    background: #5d87ff;
    color: #fff;
}

.products-index-limikeshop .box-container .box-content .image .icons .cart-btn{
    border-left: .1rem solid #fff7;
    border-right: .1rem solid #fff7;
    width: 100%;
}

.products-index-limikeshop .box-container .box-content .image .icons a:hover{
    background: #333;
}

.products-index-limikeshop .box-container .box-content .content{
    padding: 2rem;
    text-align: center;
}

.products-index-limikeshop .box-container .box-content .content h3{
    font-size: 2.5rem;
    color: #333;

}

.products-index-limikeshop .box-container .box-content .content .harga-index{
    font-size: 2.5rem;
    color: #5d87ff;
    font-weight: bolder;
    padding-top: 1rem;
}

.products-index-limikeshop .box-container .box-content .content .harga-index span{
    font-size: 1.5rem;
    color: #999;
    font-weight: lighter;
    text-decoration: line-through;
} */

/* Styling for Products Section */
.products-index-limikeshop {
    text-align: center;
    padding: 50px 0;
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.box-content {
    /* width: calc(30% - 1.5rem); */
    width: 100%;
    max-width: 30% !important;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: 20px;
    border: .1rem solid rgba(0, 0, 0, .1);
    position: relative;
    margin-bottom: 1.5rem;
    overflow: hidden;
}

.discount {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: .7rem 1rem;
    /* font-size: 1.5rem; */
    color: #fff;
    background: #2a35477b;
    z-index: 1;
    border-radius: .5rem;
}

.image {
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}

.image img {
    width: 100%;
    max-width: 50%;
    /* height: 25rem; */
    transition: transform 0.3s ease;
}

.box-content:hover .image img {
    transform: scale(1.1);
}

.icons {
    position: absolute;
    bottom: -7rem;
    left: 0;
    right: 0;
    display: flex;
    transition: bottom 0.3s ease;
}

.box-content:hover .icons {
    bottom: 0;
}

.icons a {
    height: 3rem;
    line-height: 3rem;
    text-decoration: none;
    /* font-size: 2rem; */
    width: 50%;
    background: #5d87ff;
    color: #fff;
}

.icons button {
    height: 3rem;
    line-height: 3rem;
    text-decoration: none;
    /* font-size: 2rem; */
    width: 50%;
    background: #5d87ff;
    color: #fff;
}

.icons .cart-btn {
    border-left: .1rem solid #fff7;
    border-right: .1rem solid #fff7;
    width: 100%;
}

.icons a:hover,
button:hover {
    background: #333;
}

.content {
    padding: 1rem 0 2rem 0;
    text-align: center;
}

.content h3 {
    /* font-size: 2.5rem; */
    color: #333;
}

.harga-index {
    /* font-size: 2.5rem; */
    color: #5d87ff;
    font-weight: bolder;
    padding-top: 1rem;
}

.harga-index span {
    /* font-size: 1.5rem; */
    color: #999;
    font-weight: lighter;
    text-decoration: line-through;
}

.review .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.review .box-container .box-content {
    flex: 1 1 30rem;
    box-shadow: 0 .5rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    padding: 3rem 2rem;
    position: relative;
    border: .1rem solid rgba(0, 0, 0, .1);
}

.review .box-container .box-content .fa-quote-right {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    font-size: 6rem;
    color: #eee;
}

.review .box-container .box-content .stars i {
    color: #5d87ff;
    font-size: 2rem;
}

.review .box-container .box-content p {
    color: #999;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
}

.review .box-container .box-content .user {
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.review .box-container .box-content .user img {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.review .box-container .box-content .user h3 {
    font-size: 2rem;
    color: #333;
}

.review .box-container .box-content .user span {
    font-size: 1.5rem;
    color: #999;
}

/* media queries */
@media (max-width:991px) {

    html {
        font-size: 55.5%;
    }

    header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }

    .home {
        background-position: left;
    }

    .add-to-cart{
        font-size: 8px;
        height: 40px;
    }
}


@media (max-width:450px) {

    html {
        font-size: 50%;
    }

    .heading-index-limikeshop {
        font-size: 3rem;
    }
}

.space-y-2> :not([hidden])~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

footer {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.384);
    padding: 20px;
    background-color: #2a3547;
}

.f-item-con {
    padding: 1.5rem 4rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 2rem;
}

footer .app-name {
    color: #ffff;
    border-left: 4px solid var(--theme-col);
    padding-left: 1.5rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
}

.app-name .app-initial {
    color: var(--theme-col);
}

footer .app-info p {
    color: #ffff;
    padding-left: 1.65rem;
}

footer .footer-title {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.75rem;
    color: #ffff;
    border-left: 4px solid var(--theme-col);
    padding-left: 1.5rem;
    height: fit-content;
}

footer ul {
    padding-left: 1.75rem;
    color: #ffff;
    font-size: 14px;
    line-height: 1.25rem;
    margin-top: .5rem;
}

footer ul li {
    margin: 10px 0;
    font-size: 15px;
    cursor: pointer;
    color: #ffffffa2;
    width: fit-content;
    list-style: none;
}

footer ul li:hover {
    color: #ffff;
}

footer .help-sec {
    margin-top: 40px;
}

.g-i-t {
    display: grid;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 0;
}

.g-i-t iframe {
    width: 100%;
    height: 250px;
    margin-top: 20px;
}

.fa-location-dot {
    font-size: 20px;
    color: red;
}

.limikeShopLocation {
    margin-top: 20px;
    color: #ffff;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.limikeShopLocation span {
    color: #5d87ff;
    font-size: 20px;
    margin-bottom: 5px;
}

.limikeShopLocation p {
    color: #ffffff99;
}

.zer {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    align-items: center;
}

.sec {
    margin-top: 50px;
}

@media screen and (max-width: 414px) {
    footer ul li {
        font-size: 10px;
    }

    .g-i-t iframe {
        height: 150px;
    }

    .limikeShopLocation {
        font-size: 10px;
    }

    .limikeShopLocation span {
        font-size: 15px;
    }

}
/* index-home nandito - end */
