<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Limike Olshop </title>
    <link rel="stylesheet" href="massage-checkout.css">
</head>
<body>
        <div class="container">
            <div class="center-checkout-massage">
                <div class="checkout-sukses">
                    <div class="gambar"> <img src="terimaksih.jpg" alt="thanks.jpg"></div>
                        <div class="massage-thanks">
                            <h1> Terima kasih !!</h1>
                            <p>Pesanan Anda telah diterima. Terima kasih atas kepercayaan Anda. Produk akan segera dikirim!</p>
                            <button> Home </button>
                        </div>
                </div>
            </div>
        </div>
</body>
</html>
