<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Kasir </title>
    <link rel="stylesheet" href="kasir.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <header>
        <div class="navbar container">
            <div class="nav-item">
                    <a href="home-kasir.html" class="nav-link active"> Home </a>
                    <a href="kasir.html" class="nav-link"> New Order </a>
                    <a href="suplier.html" class="nav-link"> Suplier </a>
                    <a href="orders.html" class="nav-link"> Orders </a>
            </div>
            <div class="user">
                <a href="" class="username"> Pegawai </a>
                <a href=""><img src="patrick.png" alt="poto-profil"></a>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="homePage">
            <div class="limikeDesk">
                <h1>Kasir <span>Limike</span> Online Shop</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci,
                    fuga dolorum, voluptate corrupti cupiditate similique rerum, nesciunt neque quam autem dolorem accusamus?
                    Deserunt rem sit saepe. Dicta necessitatibus repellendus voluptas!</p>
                    <button> Get Started <i> > </i></button>
            </div>
            <div class="gambar">
                <img src="grosir.png" alt="">
            </div>
        </div>
    </div>

</body>
</html>
