<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Kasir </title>
    <link rel="stylesheet" href="kasir.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <header>
        <div class="navbar container">
            <div class="nav-item">
                <a href="home-kasir.html" class="nav-link"> Home </a>
                <a href="kasir.html" class="nav-link active"> New Order </a>
                <a href="suplier.html" class="nav-link"> Suplier </a>
                <a href="orders.html" class="nav-link"> Orders </a>
            </div>
            <div class="user">
                <a href="" class="username"> Pegawai </a>
                <a href=""><img src="patrick.png" alt="poto-profil"></a>
            </div>
        </div>
    </header>

    <div class="container kasir">
        <div class="product">
         <div class="product-header">
            <div class="filter">
                <i class="fa-solid fa-bars"></i>
                <span>Filter</span>
                <div class="product-dropdown">
                    <a href="#" class="a-link">Item 1</a>
                    <a href="#" class="a-link">Item 2</a>
                    <a href="#" class="a-link">Item 3</a>
                  </div>
            </div>
            <div class="search-kasir">
               <form action="">
                <input type="search" id="search" name="search" placeholder="Search . . ." autocomplete="off">
                <label for="search"></label>
                <button class="search" type="submit"> <i class="fa-solid fa-magnifying-glass"></i> </button>
               </form>
            </div>
         </div>
         <div class="product-item">
            <div class="card">
                <img src="patrick.png" alt="Product Image">
                <h3>lemari baru</h3>
                <p>Harga: $99.99</p>
            </div>
            <div class="card">
                <img src="patrick.png" alt="Product Image">
                <h3>Nama Product</h3>
                <p>Harga: $99.99</p>
            </div>
            <div class="card">
                <img src="patrick.png" alt="Product Image">
                <h3>Nama Product</h3>
                <p>Harga: $99.99</p>
            </div>
         </div>
        </div>

        <div class="checkout">
            <h1>Checkout</h1>
            <div class="checkout-item">
                <span><i class="fa-solid fa-trash"></i></span>
                <span> Nama Produk </span>
                <div class="div-qty">
                    <button><i class="fa-solid fa-circle-minus"></i></button>
                    <input type="number" name="qty-input" id="qty-input" placeholder="0">
                    <label for="qty-input"></label>
                    <button><i class="fa-solid fa-circle-plus"></i> </button>
                </div>
                <span class="total-harga"> Rp.100.000 </span>
        </div>
        <div class="checkout-item">
            <span><i class="fa-solid fa-trash"></i></span>
            <span> Nama Produk </span>
            <div class="div-qty">
                <button><i class="fa-solid fa-circle-minus"></i></button>
                <input type="number" name="qty-input" id="qty-input" placeholder="0">
                <label for="qty-input"></label>
                <button><i class="fa-solid fa-circle-plus"></i> </button>
            </div>
            <span class="total-harga"> Rp.100.000 </span>
    </div>
    <div class="checkout-item">
        <span><i class="fa-solid fa-trash"></i></span>
        <span> Nama Produk </span>
        <div class="div-qty">
            <button><i class="fa-solid fa-circle-minus"></i></button>
            <input type="number" name="qty-input" id="qty-input" placeholder="0">
            <label for="qty-input"></label>
            <button><i class="fa-solid fa-circle-plus"></i> </button>
        </div>
        <span class="total-harga"> Rp.100.000 </span>
</div>
<div class="checkout-item">
    <span><i class="fa-solid fa-trash"></i></span>
    <span> Nama Produk </span>
    <div class="div-qty">
        <button><i class="fa-solid fa-circle-minus"></i></button>
        <input type="number" name="qty-input" id="qty-input" placeholder="0">
        <label for="qty-input"></label>
        <button><i class="fa-solid fa-circle-plus"></i> </button>
    </div>
    <span class="total-harga"> Rp.100.000 </span>
</div>
    <div class="checkout-item">
        <span><i class="fa-solid fa-trash"></i></span>
        <span> Nama Produk </span>
        <div class="div-qty">
            <button><i class="fa-solid fa-circle-minus"></i></button>
            <input type="number" name="qty-input" id="qty-input" placeholder="0">
            <label for="qty-input"></label>
            <button><i class="fa-solid fa-circle-plus"></i> </button>
        </div>
        <span class="total-harga"> Rp.100.000 </span>
</div>
<div class="checkout-item">
    <span><i class="fa-solid fa-trash"></i></span>
    <span> Nama Produk </span>
    <div class="div-qty">
        <button><i class="fa-solid fa-circle-minus"></i></button>
        <input type="number" name="qty-input" id="qty-input" placeholder="0">
        <label for="qty-input"></label>
        <button><i class="fa-solid fa-circle-plus"></i> </button>
    </div>
    <span class="total-harga"> Rp.100.000 </span>
</div>
<div class="checkout-item">
    <span><i class="fa-solid fa-trash"></i></span>
    <span> Nama Produk </span>
    <div class="div-qty">
        <button><i class="fa-solid fa-circle-minus"></i></button>
        <input type="number" name="qty-input" id="qty-input" placeholder="0">
        <label for="qty-input"></label>
        <button><i class="fa-solid fa-circle-plus"></i> </button>
    </div>
    <span class="total-harga"> Rp.100.000 </span>
</div>
            <div class="total-checkout">
                <span> Rp 90000 </span>
            </div>

        </div>
    </div>

</body>
</html>
