*{
    margin: 0;
    padding: 0;
    transition: ease .3s;  
    text-decoration: none; 
    box-sizing: border-box;
}

body {
   background: #ecf2ff;
}

header {
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    z-index: 2;
}

.container {
    max-width: 1980px; /* Lebar maksimum container */
    margin: 0 auto; /* Tengahkan container di tengah halaman */
    overflow: hidden; /* Mengatasi masalah float */
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    position: relative;
}

.nav-item{
    display: flex;
    flex-direction: row;
}

.nav-link {
    padding: 10px;
    margin: 10px;
    color: #2a3547;
}

.nav-link:hover{
    color: #5d87ff;
}

.active{
    color: #5d87ff;
}



.user { 
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
    text-align: center;
}

.username{
    position: relative;
    color: #2a3547;
    padding: 5px;
}

.username:hover:before{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
    border-radius: 5px;
	border-bottom: solid 2px #5d87ff;
	animation: border_anim .3s linear forwards;
}

@keyframes border_anim {
	0%{
		width: 0%;
	}
	100%{
		width: 100%;
	}
}

.user a img{
    border: solid 1px ;
    border-radius: 50%;
    padding: 5px;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    color: #fff;
    border: solid 1px #2a3547;
}

.kasir{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin-top: 10px;
    ::-webkit-scrollbar {
        width: 12px; /* Lebar scroll bar */
        height: 10px;
    }
    ::-webkit-scrollbar-track {
        background: transparent; /* Warna latar belakang track */
    }

    /* Warna scroll thumb */
    ::-webkit-scrollbar-thumb {
        background: #2a3547; /* Warna scroll thumb */  
        border-radius: 15px;  
    }
}

.product{
    background-color: #ffff;
    width: 70%;
    height: 100vh;
    overflow: auto;
    box-shadow: -1px 0 3px;
    align-items: center;
}

.checkout{
    background-color: rgb(255, 255, 255);
    position: relative;
    width: 28%;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 15px;  
    margin-left: 3px;  
    box-shadow: 0 0 4px black; 
}


.checkout h1{
    text-align: center;
    margin-top: 10px;
    box-shadow: 0 0 3px;
    color: #2a3547;
    padding: 15px;
    width: 300px;
    border-radius: 15px;
    letter-spacing: 3px;
    margin-bottom: 5px;
}

.heading-checkout{
    display: flex;
    background-color: rgb(79, 66, 66);
    width: 100%;
    justify-content: space-between;
}


.heading-checkout p{
    margin: 3px 10px 3px 10px;
    color: rgba(255, 255, 255, 0.719);
}

.product-header{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 10%;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 0 3px;
}

.filter{
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    color: #2a3547;
    box-shadow: 0 0 3px;
}

.product-dropdown {
    display: none;
    position: absolute;
    background-color: #2a3547;
    color: #ffff;
    width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
  }

  .filter:hover{
    .product-dropdown{
        display: block;
    }
  }

  .product-dropdown a:hover {
    background-color: #ffffff; 
    color: #2a3547;
  }

  .product-dropdown a {
    color: #ffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    box-shadow: 0 0 1px;
    border-radius: 10px;
  }

.search-kasir input{
    width: 25rem;
    height: 35px;
    outline: #fff;
    letter-spacing: 1px;
    border-radius: 10px;
    padding: 3px;
    border: none;
    box-shadow: 0 0 3px black;
}

.search-kasir button{
    height: 35px;
    width: 40px;
    border-radius: 10px;
    cursor: pointer;
    background-color:  #5d87ff;
    color: #fff;
    border: none;
    font-size: 20px;
}


.product-item{
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 5px;
    cursor: pointer;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    width: 200px; /* Ubah lebar card */
    height: 250px; /* Ubah tinggi card */
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card:hover {
    box-shadow: 0px 2px 4px black;
}

.card img {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.card h3 {
    font-size: 1.2em;
    margin: 10px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card p {
    font-size: 1em;
    color: #ffff;
    background-color: #2a3547;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 1px 1px 1px black;
}

.card p:hover{
    color: white;
    background-color: #5d87ff;
}

.qty-input{
    width: 30px;
}

.item-checout{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.div-qty{
    display: flex;
}

.fa-trash{
    color: rgb(160, 0, 0);
    padding: 5px;
}

.fa-trash:hover{
    border: solid 1px rgb(160, 0, 0);
    background-color: red;
    color: white;
    border-radius: 50%;
}

.div-qty button{
    background-color: #fff;
    margin: 0px 5px 0px 5px;
    color: #2a3547;
    box-shadow: 0 0 2px black;
    padding: 2px;
    border: none;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: .1s ease;
}

.div-qty button:hover{
    color: white;
    background-color: #5d87ff;
}

.div-qty input{
    width: 30px;
    height: 20px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: #13063a;
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: 0 0 3px black;
}

.div-qty input:focus{
    color: white;
    background-color: #5d87ff;
    outline: none;
    border: none;
}

.checkout-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 10px;
    margin-top: 3px;
    box-shadow: 0px 1px 3px black;
    border-radius: 15px;
    position: relative;
}

.total-harga{
    background-color: #2a3547;
    color: #fff;
    padding: 5px;
    font-size: 10px;
    border-radius: 15px;
    box-shadow: 0 0 3px black;
}

.total-checkout{
    width: 300px;
    height: 50px;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #ffffff;
    background-color: #2a3547;
    border-radius: 15px;
    box-shadow: 0 0 3px black;
    cursor: pointer;
    font-size: 30px;
    padding: auto;
    position: relative;
    overflow: hidden;
}

.total-checkout:hover{
    background-color: #5d87ff;
    box-shadow: 1px 3px 5px black;
}

@media screen and (max-width: 900px) {
    .search-kasir input{
        width: 10rem;
        height: 35px;
        outline: #fff;
        letter-spacing: 1px;
        border-radius: 10px;
        padding: 3px;
        border: none;
        box-shadow: 0 0 3px black;
    }
    
    .product-item{
        margin-left: 30px;
        margin-top: 5px;
        justify-content: center;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
        grid-gap: 5px;
        cursor: pointer;
    }

    .product-dropdown{
        width: 400px;
    }

    .product-header .filter{
        height: 30px;
        font-size: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .product-header .filter span{
        padding-left: 10px;
    }

    .checkout h1{
        font-size: 20px;
        text-align: center;
        margin-top: 10px;
        box-shadow: 0 0 3px;
        color: #2a3547;
        padding: 15px;
        width: 150px;
        border-radius: 15px;
        letter-spacing: 1px;
        margin-bottom: 5px;
    }

    .checkout-item{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        width: 90%;
        padding: 10px;
        margin-top: 10px;
        box-shadow: 0px 1px 3px black;
        border-radius: 15px;
    }

    .checkout-item .fa-trash{
        position: absolute;
        right: 0;
        top: 0;
        border-top-right-radius: 50%;
        width: 30px;
        font-size: 15px;
        justify-content: center;
        text-align: center;
        box-shadow: 0 0 3px black;
    }

    .checkout-item div{
        padding: 5px 0px 5px 0px;
    }

    .total-harga{
        position: absolute;
        right: 5px;
        bottom: 15px;
        font-size: 10px;
        background-color: #2a3547;
        color: #fff;
        padding: 5px;
        border-radius: 15px;
        box-shadow: 0 0 3px black;
    }

    .total-checkout{
        width: 150px;
        height: 30px;
        margin-top: 50px;
        align-items: center;
        justify-content: center;
        display: flex;
        color: #ffffff;
        background-color: #2a3547;
        border-radius: 15px;
        box-shadow: 0 0 3px black;
        cursor: pointer;
        font-size: 20px;
        padding: auto;
    }
}

@media screen and (min-width: 901px) and (max-width: 1024px){
    .search-kasir input{
        width: 15rem;
        height: 35px;
        outline: #fff;
        letter-spacing: 1px;
        border-radius: 10px;
        padding: 3px;
        border: none;
        box-shadow: 0 0 3px black;
    }
    
    .product-header .filter{
        height: 30px;
        font-size: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .product-header .filter span{
        padding-left: 10px;
    }

    .product-item{
        margin-left: 30px;
        margin-top: 5px;
        justify-content: center;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
        grid-gap: 5px;
        cursor: pointer;
    }

    .product-dropdown{
        width: 400px;
    }

    .checkout h1{
        text-align: center;
        margin-top: 10px;
        box-shadow: 0 0 3px;
        color: #2a3547;
        padding: 15px;
        width: 200px;
        border-radius: 15px;
        letter-spacing: 1px;
        margin-bottom: 5px;
    }

    .checkout-item{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        width: 90%;
        padding: 10px;
        margin-top: 10px;
        box-shadow: 0px 1px 3px black;
        border-radius: 15px;
    }

    .checkout-item .fa-trash{
        position: absolute;
        align-items: center;
        display: flex;
        right: 10px;
        top: 20px;
        width: 30px;
        height: 30px;
        font-size: 20px;
        padding: 10px;
        justify-content: center;
        text-align: center;
        box-shadow: 0 0 3px black;
    }

    .checkout-item div{
        padding: 5px 0px 5px 0px;
    }

    .total-harga{
        position: absolute;
        right: 60px;
        bottom: 15px;
        font-size: 10px;
        background-color: #2a3547;
        color: #fff;
        padding: 5px;
        border-radius: 15px;
        box-shadow: 0 0 3px black;
    }

    .total-checkout{
        width: 150px;
        height: 30px;
        margin-top: 50px;
        align-items: center;
        justify-content: center;
        display: flex;
        color: #ffffff;
        background-color: #2a3547;
        border-radius: 15px;
        box-shadow: 0 0 3px black;
        cursor: pointer;
        font-size: 20px;
        padding: auto;
    }
}