<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Produk</title>
    <link rel="stylesheet" href="detail-produk.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <div class="detail-produk">
            <div class="image-detail-produk">
                <div class="label-image-detail-produk">
                    <h2 class="total-item-left">50</h2>
                    <span> Item Left </span>
                </div>
                <img src="rak sepatu.jpg" alt="">
            </div>

            <div class="spek-produk">
                    <a href="">
                        <span><</span> Back To Home
                    </a>
                    <h1>Lemari Sepatu sjavdad ele ehevaa ahv evah avyvayvaydad dvayvdyaydvyavdy dvyvayvdyavdyva dvydvyad </h1>
                    <span class="price">Rp. 100 000</span>

                    <div class="description-product">
                        <span>Description</span>
                        <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed officia obcaecati minima maxime nam voluptatum quisquam, sunt, unde fugiat neque pariatur recusandae dolores quidem consectetur aspernatur consequuntur reiciendis commodi ipsum.</p>
                    </div>
                    <div class="brand-produk-detail">
                        <span>Brand</span>
                        <p class="brand-name">Nike</p>
                    </div>
                    <div class="color-produk-detail">
                        <span> Color </span>
                        <p>Red</p>
                        <p>Blue</p>
                    </div>
                    <div class="quantity">
                        <p> Quantity </p>
                        <span>-</span>
                        <input type="number" placeholder="0" name="qty" id="qty">
                        <label for="qty"></label>
                        <span>+</span>
                    </div>
                    <button class="add-to-cart"> Add To Cart</button>
            </div>
        </div>
    </div>
</body>
</html>
