@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Montserrat:wght@500;700&family=Poppins:wght@200&family=Titillium+Web:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --botton-color: #5d87ff;
}

body {
    background-color: #ecf2ff;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1280px; /* Lebar maksimum container */
    margin: 0 auto; /* Tengahkan container di tengah halaman */
    overflow: hidden; /* Mengatasi masalah float */
}

.detail-produk{
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.image-detail-produk{
    background-color: rgb(248, 248, 248);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image-detail-produk img{
    width: 70%;
    height: 70%;
    mix-blend-mode: multiply;
    padding: 10px;
    box-shadow: 1px 2px 2px;
    border-radius: 10px;
}

.nama-produk-detail{
    position: absolute;
    bottom: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    text-shadow: 5px 7px 5px rgb(187, 187, 187);
}

.label-image-detail-produk{
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--botton-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 5px;
    box-shadow: 0px 0px 3px black;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.spek-produk{
    background-color: rgb(255, 255, 255);
    width: 50%;
    box-shadow: 0px 0px 3px;
    display: flex;
    flex-direction: column;
    padding: 0px 40px 0px 40px;
    text-align: justify;
}

.spek-produk a{
    color: #fff;
    background-color: #2a3547;
    box-shadow: 0px 0px 2px;
    width: 10rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    padding: 2px 4px 2px 4px;
    margin: 10px 0px 20px 0px;
}

.spek-produk h1{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    color: #2a3547;
}

.price{
    color: #5d87ff;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 25px;
}

.description-product{
    margin: 10px 0px 10px 0px;
}

.description-product span{
    width: max-content;
    border-bottom: solid 1px #2a3547;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    color: #2a3547
}

.brand-produk-detail{
    display: flex;
    align-items: center;
    margin: 10px 0px 10px 0px;
}

.brand-produk-detail span{
    margin-right: 70px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}   

.brand-produk-detail img{
    width: 60px;
    height: 60px;
    padding: 5px;
    mix-blend-mode: multiply;
    box-shadow: 1px 2px 3px;
    border-radius: 15px;
}

.brand-produk-detail .brand-name{
    font-family: 'Titillium Web', sans-serif;
}

  .color-produk-detail{
    display: flex;
    align-items: center;
    margin: 10px 0px 10px 0px;
  }

  .color-produk-detail span{
    width: max-content;
    margin-right: 70px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    color: #2a3547
  }
  
  .color-produk-detail p{
    margin-right: 30px;
    padding: 5px;
    width: max-content;
    height: 30px;
    font-family: 'Titillium Web', sans-serif;
    border-bottom: solid #2a3547;
  } 
  
  .quantity{
    display: flex;
    margin: 10px 0px 10px 0px;
    align-items: center;
  }

  .quantity p{
    margin-right: 40px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    color: #2a3547
  }

  
input[type="number"] {
    width: 50px; /* Sesuaikan dengan lebar yang diinginkan */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    text-align: center;
  }
  
  input[type="number"]:hover{
    border: #2a3547 solid 1px;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  label {
    margin-left: 10px;
    font-size: 14px;
    color: #333;
  }

  .add-to-cart{
    width: 8rem;
    /* height: 2rem; */
    color: #ffff;
    background-color: #2a3547;
    margin-top: 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s ease;
    border: none;
  }

  .add-to-cart:hover{
    background-color: #5d87ff;
  }

@media (max-width:768px) {

  .image-detail-produk img{
    height: 50%;
    position: absolute;
    top: 100px;
  }

  .nama-produk-detail{
    bottom: 15rem;
}
}